html{
    font-size: 62.5%;
}

/* Since 1rem is 16px * .625 = 10px can work in bases of 10 so 2.2rem would be 22px*/

body {
    background: $dark-blue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size; // 16px but dynamic for accessibility
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}